In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
data.shape

(23486, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [5]:
data.describe()

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

In [6]:
# check missing values

In [7]:
data.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [8]:
data.dropna(inplace=True)
data.isnull().sum()

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

In [9]:
data.drop(columns=['Unnamed: 0', 'Clothing ID', 'Age', 'Division Name', 'Department Name', 'Class Name', 'Rating'], inplace=True)
data.head()

,Title,Review Text,Recommended IND,Positive Feedback Count
2,Some major design flaws,I had such high hopes for this dress and reall...,0,0
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",1,0
4,Flattering shirt,This shirt is very flattering to all due to th...,1,6
5,Not for the very petite,"I love tracy reese dresses, but this one is no...",0,4
6,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,1,1

In [10]:
data.rename(columns={'Review Text':'ReviewText', 'Recommended IND':'Recommended'}, inplace=True)

In [11]:
# Apply first level cleaning
import re
import string

# remove lower_case, remove brackets, remove punctions and numbers
def text_clean_1(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

cleaned1 = lambda x: text_clean_1(x)

In [12]:
# apply cleaned on updated data
data['cleaned text'] = pd.DataFrame(data.ReviewText.apply(cleaned1))
data.head()

,Title,ReviewText,Recommended,Positive Feedback Count,cleaned text
2,Some major design flaws,I had such high hopes for this dress and reall...,0,0,i had such high hopes for this dress and reall...
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",1,0,i love love love this jumpsuit its fun flirty ...
4,Flattering shirt,This shirt is very flattering to all due to th...,1,6,this shirt is very flattering to all due to th...
5,Not for the very petite,"I love tracy reese dresses, but this one is no...",0,4,i love tracy reese dresses but this one is not...
6,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,1,1,i aded this in my basket at hte last mintue to...

In [13]:
# Apply a second round of cleaning = replacing quotes and new line 
def text_clean_2(text):
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    return text

cleaned2 = lambda x: text_clean_2(x)

In [14]:
data['cleaned_reviewText_new'] = pd.DataFrame(data.ReviewText.apply(cleaned2))
data.head()

,Title,ReviewText,Recommended,Positive Feedback Count,cleaned text,cleaned_reviewText_new
2,Some major design flaws,I had such high hopes for this dress and reall...,0,0,i had such high hopes for this dress and reall...,I had such high hopes for this dress and reall...
3,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",1,0,i love love love this jumpsuit its fun flirty ...,"I love, love, love this jumpsuit. it's fun, fl..."
4,Flattering shirt,This shirt is very flattering to all due to th...,1,6,this shirt is very flattering to all due to th...,This shirt is very flattering to all due to th...
5,Not for the very petite,"I love tracy reese dresses, but this one is no...",0,4,i love tracy reese dresses but this one is not...,"I love tracy reese dresses, but this one is no..."
6,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,1,1,i aded this in my basket at hte last mintue to...,I aded this in my basket at hte last mintue to...

In [15]:
for i in data['Recommended']:
    if(i==1):
        data['Recommended'].replace(i, "Real", inplace=True)
    else:
        data['Recommended'].replace(i, "Fake", inplace=True)

In [16]:
# Model building
from sklearn.model_selection import train_test_split

Independent_var = data.cleaned_reviewText_new
Dependent_var = data.Recommended

IV_train, IV_test, DV_train, DV_test = train_test_split(Independent_var, Dependent_var, test_size = 0.1, random_state = 225)

In [17]:
print('IV_train :', len(IV_train))
print('IV_test  :', len(IV_test))
print('DV_train :', len(DV_train))
print('DV_test  :', len(DV_test))

IV_train : 17695
IV_test  : 1967
DV_train : 17695
DV_test  : 1967

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
IV_train_vec = v.fit_transform(IV_train)
IV_test_vec = v.transform(IV_test)

In [19]:
from sklearn import svm
clf_svm = svm.SVC(kernel="linear")
clf_svm.fit(IV_train_vec, DV_train)

SVC(kernel='linear')

In [20]:
example = ["The fabric is really good, though the dhuppatta is short stitching kafitting is too good, top is plain not which I don't like"]
rev_rec = v.transform(example)
clf_svm.predict(rev_rec)

array(['Real'], dtype=object)

In [21]:
clf_svm.score(IV_test_vec, DV_test)

0.8764616166751398

In [22]:
ex2 = ["This dress looked like something i would wear and covet for years. unfortunately it was loose in the places where it should show shape and was tight in others. the bodice is incredibly small and not meant for bigger chested women. while the fabric is beautiful, overall the dress did not look like much. disappointed."]
rev_rec1 = v.transform(ex2)
clf_svm.predict(rev_rec1)

array(['Fake'], dtype=object)

In [23]:
# create pickle file

In [24]:
import pickle as pk

In [25]:
filename = 'model.pkl'
pk.dump(clf_svm, open(filename, 'wb'))